* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  height: 70px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;

  .logoDiv {
    display: flex;
    align-items: center;
    gap: 100px;

    .features {
      display: flex;
      gap: 50px;
    }
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .contact {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      height: 47px;
      width: 150px;
      border: none;
      border-radius: 8px;
      background-color: #125785;
      box-shadow: 5px 5px 0 0 #79b6de;

      a {
        color: white;
      }
    }
  }
}

form {
  display: grid;
  gap: 10px;
  color: #485568;
  text-align: center;
  border-radius: 15px;
  margin: 5% 15%;
  padding: 30px 10px;
  width: 68%;
  background-color: #eaf8fe;

  .heading{
    display: grid;
    gap:20px;
  }

  .form-item{
    padding: 20px;
    text-align: start;
    display: flex;
    justify-content: center;
    gap: 30px;

    .input{
      display: grid;
      gap: 5px;
      
      input{
        padding: 20px 130px;
        border: 1px solid gray;
        border-radius: 10px;
        text-align: start;

        
        

      }
    }

  }


